# Files to be ignored by Git (do not commit)
#

# Ignore everywhere, also in subdirectories

*.bck
*.exe
*.o
**/.DS_Store

/NCX.xcodeproj/xcuserdata
/NCX.xcodeproj/xcshareddata
/Newton.framework/Versions/A/_CodeSignature
