<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>*show-labels*</key>
	<dict>
		<key>Notes</key>
		<true/>
		<key>Names</key>
		<true/>
		<key>NewtWorks</key>
		<true/>
		<key>InBox</key>
		<true/>
		<key>OutBox</key>
		<true/>
	</dict>
	<key>*uniqueId*</key>
	<dict>
		<key>tag</key>
		<string>uniqueId</string>
		<key>header</key>
		<string>Id</string>
		<key>slot</key>
		<string>uniqueId</string>
		<key>type</key>
		<string>string</string>
	</dict>
	<key>*default*</key>
	<dict>
		<key>tag</key>
		<string>title</string>
		<key>header</key>
		<string>Title</string>
		<key>slot</key>
		<string>tag</string>
		<key>type</key>
		<string>string</string>
	</dict>
	<key>*labels*</key>
	<dict>
		<key>tag</key>
		<string>labels</string>
		<key>header</key>
		<string>Folder</string>
		<key>slot</key>
		<string>labels</string>
		<key>type</key>
		<string>labels</string>
	</dict>
	<key>*modTime*</key>
	<dict>
		<key>tag</key>
		<string>modTime</string>
		<key>header</key>
		<string>Modified</string>
		<key>slot</key>
		<string>modTime</string>
		<key>type</key>
		<string>date</string>
	</dict>
	<key>SystemAlarmSoup</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Title</string>
			<key>slot</key>
			<string>key</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>info1</string>
			<key>header</key>
			<string>Time</string>
			<key>slot</key>
			<string>time</string>
			<key>type</key>
			<string>dateRef</string>
		</dict>
	</array>
	<key>System</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Title</string>
			<key>slot</key>
			<string>tag</string>
			<key>type</key>
			<string>string</string>
		</dict>
	</array>
	<key>Directory</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Title</string>
			<key>slot</key>
			<string>app</string>
			<key>type</key>
			<string>symbol</string>
		</dict>
	</array>
	<key>LinkSetups</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Title</string>
			<key>slot</key>
			<string>setupName</string>
			<key>type</key>
			<string>string</string>
		</dict>
	</array>
	<key>DNS Cache:Newton</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Title</string>
			<key>slot</key>
			<string>targetDomainName</string>
			<key>type</key>
			<string>string</string>
		</dict>
	</array>
	<key>Calls</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Name</string>
			<key>slot</key>
			<string>name</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>info1</string>
			<key>header</key>
			<string>Number</string>
			<key>slot</key>
			<string>phoneNumber</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>info2</string>
			<key>header</key>
			<string>Time</string>
			<key>slot</key>
			<string>callDate</string>
			<key>type</key>
			<string>dateRef</string>
		</dict>
	</array>
	<key>Cities</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Title</string>
			<key>slot</key>
			<string>name</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>info1</string>
			<key>header</key>
			<string>GMT</string>
			<key>slot</key>
			<string>gmt</string>
			<key>type</key>
			<string>GMT</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>info2</string>
			<key>header</key>
			<string>Area code</string>
			<key>slot</key>
			<string>areaCode</string>
			<key>type</key>
			<string>string</string>
		</dict>
	</array>
	<key>Calendar</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Title</string>
			<key>slot</key>
			<string>mtgText</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>info1</string>
			<key>header</key>
			<string>Time</string>
			<key>slot</key>
			<string>mtgStartDate</string>
			<key>type</key>
			<string>dateRef</string>
		</dict>
	</array>
	<key>Calendar Notes</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Title</string>
			<key>slot</key>
			<string>mtgText</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>info1</string>
			<key>header</key>
			<string>Time</string>
			<key>slot</key>
			<string>mtgStartDate</string>
			<key>type</key>
			<string>dateRef</string>
		</dict>
	</array>
	<key>Repeat Meetings</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Title</string>
			<key>slot</key>
			<string>mtgText</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>info1</string>
			<key>header</key>
			<string>Time</string>
			<key>slot</key>
			<string>mtgStartDate</string>
			<key>type</key>
			<string>dateRef</string>
		</dict>
	</array>
	<key>Repeat Notes</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Title</string>
			<key>slot</key>
			<string>mtgText</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>info1</string>
			<key>header</key>
			<string>Time</string>
			<key>slot</key>
			<string>mtgStartDate</string>
			<key>type</key>
			<string>dateRef</string>
		</dict>
	</array>
	<key>Internet Setups</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Title</string>
			<key>slot</key>
			<string>setupName</string>
			<key>type</key>
			<string>string</string>
		</dict>
	</array>
	<key>InBox</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Title</string>
			<key>slot</key>
			<string>title</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>info1</string>
			<key>header</key>
			<string>From</string>
			<key>slot</key>
			<string>fromName</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>info2</string>
			<key>header</key>
			<string>Date</string>
			<key>slot</key>
			<string>timestamp</string>
			<key>type</key>
			<string>dateRef</string>
		</dict>
	</array>
	<key>OutBox</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Title</string>
			<key>slot</key>
			<string>title</string>
			<key>type</key>
			<string>string</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>info1</string>
			<key>header</key>
			<string>To</string>
			<key>slot</key>
			<string>toRef</string>
			<key>type</key>
			<string>nameRefArray</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>info2</string>
			<key>header</key>
			<string>Date</string>
			<key>slot</key>
			<string>timestamp</string>
			<key>type</key>
			<string>dateRef</string>
		</dict>
	</array>
	<key>Names</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Name</string>
			<key>slot</key>
			<string>name</string>
			<key>type</key>
			<string>name</string>
		</dict>
		<dict>
			<key>tag</key>
			<string>info1</string>
			<key>header</key>
			<string>Location</string>
			<key>slot</key>
			<string>city</string>
			<key>type</key>
			<string>string</string>
		</dict>
	</array>
	<key>Packages</key>
	<array>
		<dict>
			<key>tag</key>
			<string>title</string>
			<key>header</key>
			<string>Title</string>
			<key>slot</key>
			<string>packageName</string>
			<key>type</key>
			<string>string</string>
		</dict>
	</array>
</dict>
</plist>
