<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AudioPlugIn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>DatesPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Experimental.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>NCX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>NamesPlugIn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>NotesPlugIn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Utilities.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>WorksPlugIn.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>libical.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F40C2A280D32A5E20046583E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4135DE50A90C4EB00B1F970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4135FA10A90CC7900B1F970</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F446FEFC0B14D59A002EF3B9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F461161F0A879D6E006CEC0A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4A9275E0945EC6400F746B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4C21E530D042C1E00A46B34</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4D55D110D36B31B00E16EB5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4F56E400A9C4A5F00A57788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F4FA686109A1D8DE00B62DDB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
