<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>20</string>
	<key>NCAffiliateNames</key>
	<dict>
		<key>assistant</key>
		<string>_$!&lt;Assistant&gt;!$_</string>
		<key>brother</key>
		<string>_$!&lt;Brother&gt;!$_</string>
		<key>child</key>
		<string>_$!&lt;Child&gt;!$_</string>
		<key>father</key>
		<string>_$!&lt;Father&gt;!$_</string>
		<key>friend</key>
		<string>_$!&lt;Friend&gt;!$_</string>
		<key>manager</key>
		<string>_$!&lt;Manager&gt;!$_</string>
		<key>mother</key>
		<string>_$!&lt;Mother&gt;!$_</string>
		<key>parent</key>
		<string>_$!&lt;Parent&gt;!$_</string>
		<key>partner</key>
		<string>_$!&lt;Partner&gt;!$_</string>
		<key>sister</key>
		<string>_$!&lt;Sister&gt;!$_</string>
		<key>spouse</key>
		<string>_$!&lt;Spouse&gt;!$_</string>
	</dict>
	<key>NCApplication</key>
	<string>Names</string>
	<key>NCExportFormats</key>
	<dict>
		<key>company</key>
		<dict>
			<key>exporter</key>
			<string>NameToVCard</string>
			<key>type</key>
			<string>public.vcard</string>
		</dict>
		<key>owner</key>
		<dict>
			<key>exporter</key>
			<string>NameToVCard</string>
			<key>type</key>
			<string>public.vcard</string>
		</dict>
		<key>person</key>
		<dict>
			<key>exporter</key>
			<string>NameToVCard</string>
			<key>type</key>
			<string>public.vcard</string>
		</dict>
	</dict>
	<key>NCFileTypes</key>
	<dict>
		<key>vcf</key>
		<string>vCard</string>
	</dict>
	<key>NCImportFormats</key>
	<dict>
		<key>public.vcard</key>
		<dict>
			<key>importer</key>
			<string>NameFromVCard</string>
			<key>soup</key>
			<string>Names</string>
		</dict>
	</dict>
</dict>
</plist>
