<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>21</string>
	<key>NCApplication</key>
	<string>Notes</string>
	<key>NCExportFormats</key>
	<dict>
		<key>checklist</key>
		<dict>
			<key>exporter</key>
			<string>NoteToRTF</string>
			<key>type</key>
			<string>public.rtf</string>
		</dict>
		<key>graphpaper:rsm</key>
		<dict>
			<key>exporter</key>
			<string>NoteToRTF</string>
			<key>type</key>
			<string>public.rtf</string>
		</dict>
		<key>list</key>
		<dict>
			<key>exporter</key>
			<string>NoteToRTF</string>
			<key>type</key>
			<string>public.rtf</string>
		</dict>
		<key>paperroll</key>
		<dict>
			<key>exporter</key>
			<string>NoteToRTF</string>
			<key>type</key>
			<string>public.rtf</string>
		</dict>
		<key>soundpaper:nsg</key>
		<dict>
			<key>exporter</key>
			<string>NoteToAudio</string>
			<key>type</key>
			<string>public.aiff-audio</string>
		</dict>
	</dict>
	<key>NCFileTypes</key>
	<dict>
		<key>aif</key>
		<string>Audio (AIFC)</string>
		<key>rtf</key>
		<string>Rich Text (RTF)</string>
		<key>txt</key>
		<string>Text</string>
	</dict>
	<key>NCImportFormats</key>
	<dict>
		<key>public.plain-text</key>
		<dict>
			<key>importer</key>
			<string>NoteFromText</string>
			<key>soup</key>
			<string>Notes</string>
		</dict>
		<key>public.rtf</key>
		<dict>
			<key>importer</key>
			<string>NoteFromRTF</string>
			<key>soup</key>
			<string>Notes</string>
		</dict>
	</dict>
</dict>
</plist>
